.guideline-home-section {
    display: flex;
    justify-content: center;
    /* center horizontally */
    align-items: center;
    /* center vertically */
    min-height: 100vh;
    /* full screen height */
}

.guideline-info-section {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 15px;
    max-width: 400px;
    text-align: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);

    .text-left {
        text-align: left;
    }
}

.marginTop-40 {
    margin-top: 40px;
}

.shopDM {
    color: #212529 !important;
    font-size: 16px;
}